<div class="row">
  <div class="col-sm-12">
    <div class="text-center">
      <h4>COVID-19 en France</h4>
      <small>dernière mise à jour: {{data.lastUpdate | date: 'EEEE, dd MMMM yyyy'}}</small>
    </div>
    <div class="row">
      <div class="col-md-4 mx-auto">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <td class="stat-title">Cas confirmés</td>
            <td class="stat-number text-black-50">{{data.casesNumber}}</td>
          </tr>
          <tr>
            <td class="stat-title">Nouveaux cas (J)</td>
            <td class="stat-number text-warning">+{{data.newCases}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 mx-auto">
        <table class="table table-borderless">
          <tbody>
          <tr>
            <td class="stat-title">Total morts</td>
            <td class="stat-number">{{data.deathsNumber}}</td>
          </tr>
          <tr>
            <td class="stat-title">Nouveaux morts (J)</td>
            <td class="stat-number text-danger">+{{data.newDeaths}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading">
  <div class="col-sm-12 text-center">
      <img alt="Loading..." src="../../assets/images/Spinner-1s-200px.gif" class="img-fluid" />
  </div>
</div>

<div *ngIf="!loading" class="row">
  <div class="col-sm-12 col-md-6 mx-auto">
    <div class="flex">
      <div class="flex-item">
        <div style="display: block;">
          <canvas baseChart height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


