<div class="row mt-4">
  <div class="col-sm-12">
    <p>
      En ces temps difficiles je pense que nous devons tous être solidaire. Pour ma part, en tant qu'Ingénieur
      informatique j'ai jugé qu'il serait util de mettre en place un site web afin de proposer des informations
      de sources officielles et vérifiées. Ainsi que des services tels que la génération de l'attestation dérogatoire
      de sortie officielle.
    </p>
    <p>
      Cette application est également, pour moi, une opportunité pour aiguiser mes connaissances au Framework Angular 8.
      Il s'agit d'un projet Open Source. Vous pouvez donc participer à son amélioration par divers moyens sur le
      <a href="https://github.com/elkolotfi/covid19" target="_blank"><i class="fab fa-github"></i> repo github</a>
    </p>
  </div>
</div>
