<footer class="footer text-white bg-dark mt-5 pb-4">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6">
        <h3>
          <img src="assets/images/logo.png" width="50" height="50" class="d-inline-block align-bottom" alt="">
          Covid-19 en France
        </h3>
      </div>
      <div class="col-md-6">
        <p>
          Ce site a pour but d'informer sur la situation autour du nouveau virus Covid-19 (Sars-Cov-2) en se basant
          uniquement sur des informations officielles et vérifiées.
        </p>
        <p>Sources principales:</p>
        <ul class="list-unstyled">
          <li>
            <a href="https://www.data.gouv.fr/fr/organizations/opencovid19-fr/" target="_blank">
              opencovid19-fr <i class="fas fa-external-link-alt"></i>
            </a>
          </li>
          <li>
            <a href="https://www.gouvernement.fr/info-coronavirus" target="_blank">
              info-coronavirus <i class="fas fa-external-link-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <small class="text-center text-white-50">
            <i class="fa fa-copyright"></i> {{today | date: 'yyyy'}} CopyLeft
            <a href="https://elkolotfi.github.io" target="_blank">@elkolotfi</a>
        </small>
      </div>
    </div>
  </div>
</footer>
