<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <style type="text/css">
    <!--
    span.cls_002{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    div.cls_002{font-family:Arial,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
    span.cls_003{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_003{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_004{font-family:Arial,serif;font-size:6.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_004{font-family:Arial,serif;font-size:6.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_005{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_005{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_007{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_007{font-family:Arial,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    span.cls_006{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    div.cls_006{font-family:Arial,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
    -->
  </style>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
  <div style="position:absolute;left:0px;top:0px"></div>
  <div style="position:absolute;left:116.15px;top:84.28px" class="cls_002"><span class="cls_002">ATTESTATION DE DÉPLACEMENT DÉROGATOIRE</span></div>
  <div style="position:absolute;left:76.16px;top:110.15px" class="cls_003"><span class="cls_003">En application de l’article 1</span><span class="cls_004"><sup>er</sup></span><span class="cls_003"> du décret du 16 mars 2020 portant réglementation des</span></div>
  <div style="position:absolute;left:86.66px;top:123.35px" class="cls_003"><span class="cls_003">déplacements dans le cadre de la lutte contre la propagation du virus Covid-19 :</span></div>
  <div style="position:absolute;left:48.19px;top:177.65px" class="cls_005"><span class="cls_005">Je soussigné(e)</span></div>
  <div style="position:absolute;left:48.19px;top:206.62px" class="cls_005"><span class="cls_005">Mme / M.</span></div>
  <div style="position:absolute;left:48.19px;top:235.59px" class="cls_005"><span class="cls_005">Né(e) le  :</span></div>
  <div style="position:absolute;left:48.19px;top:269.29px" class="cls_005"><span class="cls_005">Demeurant  :</span></div>
  <div style="position:absolute;left:48.19px;top:347.33px" class="cls_005"><span class="cls_005">certifie que mon déplacement est lié au motif suivant (cocher la case) autorisé par</span></div>
  <div style="position:absolute;left:48.19px;top:361.73px" class="cls_005"><span class="cls_005">l’article 1</span><span class="cls_007"><sup>er</sup></span><span class="cls_005"> du décret du 16 mars 2020 portant réglementation des déplacements dans</span></div>
  <div style="position:absolute;left:48.19px;top:376.13px" class="cls_005"><span class="cls_005">le cadre de la lutte contre la propagation du virus Covid-19  :</span></div>
  <div style="position:absolute;left:84.19px;top:404.10px" class="cls_005"><span class="cls_005">déplacements entre le domicile et le lieu d’exercice de l’activité professionnelle,</span></div>
  <div style="position:absolute;left:84.19px;top:418.50px" class="cls_005"><span class="cls_005">lorsqu’ils sont indispensables à l’exercice d’activités ne pouvant être organisées</span></div>
  <div style="position:absolute;left:84.19px;top:432.90px" class="cls_005"><span class="cls_005">sous   forme   de   télétravail</span></div>
  <div style="position:absolute;left:259.98px;top:432.90px" class="cls_005"><span class="cls_005">(sur   justificatif   permanent)   ou   déplacements</span></div>
  <div style="position:absolute;left:84.19px;top:447.30px" class="cls_005"><span class="cls_005">professionnels ne pouvant être différés ;</span></div>
  <div style="position:absolute;left:84.19px;top:478.27px" class="cls_005"><span class="cls_005">déplacements  pour  effectuer  des  achats  de  première  nécessité  dans  des</span></div>
  <div style="position:absolute;left:84.19px;top:492.67px" class="cls_005"><span class="cls_005">établissements autorisés (liste sur gouvernement.fr) ;</span></div>
  <div style="position:absolute;left:84.19px;top:523.64px" class="cls_005"><span class="cls_005">déplacements pour motif de santé ;</span></div>
  <div style="position:absolute;left:84.19px;top:554.61px" class="cls_005"><span class="cls_005">déplacements pour motif familial impérieux, pour l’assistance aux personnes</span></div>
  <div style="position:absolute;left:84.19px;top:569.01px" class="cls_005"><span class="cls_005">vulnérables ou la garde d’enfants ;</span></div>
  <div style="position:absolute;left:84.19px;top:599.99px" class="cls_005"><span class="cls_005">déplacements brefs, à proximité du domicile, liés à l’activité physique individuelle</span></div>
  <div style="position:absolute;left:84.19px;top:614.39px" class="cls_005"><span class="cls_005">des personnes, à l’exclusion de toute pratique sportive collective, et aux besoins</span></div>
  <div style="position:absolute;left:84.19px;top:628.79px" class="cls_005"><span class="cls_005">des animaux de compagnie.</span></div>
  <div style="position:absolute;left:341.47px;top:690.79px" class="cls_006"><span class="cls_006">Fait à</span></div>
  <div style="position:absolute;left:458.95px;top:690.79px" class="cls_006"><span class="cls_006">, le</span></div>
  <div style="position:absolute;left:494.41px;top:690.79px" class="cls_006"><span class="cls_006">/</span></div>
  <div style="position:absolute;left:519.58px;top:690.79px" class="cls_006"><span class="cls_006">/2020</span></div>
  <div style="position:absolute;left:497.06px;top:708.46px" class="cls_006"><span class="cls_006">(signature)</span></div>
</div>

</body>
</html>
