<div class="row">
  <div class="col-sm-12 text-center">
    <h3>Covid-19 en France</h3>
    <div class="row mt-4">
      <div class="col-sm-12 col-md-6">
        <ul class="list-group text-left">
          <li class="list-group-item">
            <a routerLink="confinement/attestation-sorties">
              <i class="fa fa-file-pdf"></i> Générez vorte attestation de sortie
            </a>
          </li>
          <li class="list-group-item">
            <a routerLink="statistique">
              <i class="fa fa-chart-line"></i> Suivez l'évolution du virus en France
            </a>
          </li>
          <li class="list-group-item">
            <a routerLink="infos">
              <i class="fa fa-question-circle"></i> Covid-19: Questions fréquentes
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <ul class="list-group text-left">
          <li class="list-group-item">
            <a routerLink="confinement/idees-astuces">
              <i class="fa fa-lightbulb"></i> Confinement: Idées et astuces
            </a>
          </li>
          <li class="list-group-item">
            <a routerLink="confinement/informations">
              <i class="fa fa-info-circle"></i> Confinement: Questions fréquentes
            </a>
          </li>
          <li class="list-group-item">
            <a routerLink="confinement/informations">
              <i class="far fa-newspaper"></i> A propos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
